h1 {
    color: #4a42bb;
}

h2 {
    color: #4a42bb;
  }

header {
    background: linear-gradient(to bottom, rgba(238, 238, 238, 0.958), rgba(238, 238, 238, 0.292));
}

table {

    padding: 10px;
   
    
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}


.btn{

    background-color: #4a42bb;
    color:antiquewhite;

}

.btn:hover{
    background-color: #7a76be;
    color:antiquewhite
}

ul li {
    margin: 5px;
    text-align: left;
    margin-bottom: 10px;
}

.container{
    padding: 10px 100px;
    margin-bottom: 10px;
    text-align: center;
    position: center;
}

ol {
    
    background-color: #e2ddd9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 500px;
    padding: 40px;
    display: flex;
    gap: 4vw;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
   
    }

ol li {
    list-style-type: none;
    background: linear-gradient(to bottom, rgba(238, 238, 238, 0.958), rgba(238, 238, 238, 0.292));
    
    
    border: 1px solid #ddd;
    padding: 20px;

    flex: 0 0 100%;
    scroll-snap-align: center;
}


ol::scroll-button(*) {
border: 0;
font-size: 2rem;
background: none;
color: rgb(0 0 0 / 0.7);
cursor: pointer;


}

ol::scroll-button(*):hover,
ol::scroll-button(*):focus {
  color: rgb(0 0 0 / 1);
}

ol::scroll-button(*):active {
  translate: 1px 1px;
}

ol::scroll-button(*):disabled {
  color: rgb(0 0 0 / 0.2);
  cursor: unset;
}


ol::scroll-button(left) {
  content: "◄";
}

ol::scroll-button(right) {
  content: "►";
}